
  .main-container {
    overflow: hidden;
  }
  
  .container {
    position: relative;
    display: inline-block; /* Allows images to be inline and hover effect to work */

  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1;
    right: 1;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 140, 186, 0.8); /* Slight transparency for better visuals */

  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  